p{
    font-family: arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 5px;
    margin-bottom: 5px;
}
.video-title{
    color:black;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 24px;
    margin-bottom: 10px;
}
.author{
    margin-top: 15px;
    margin-bottom: 15px;
}
.about{
    line-height: 20px;
    width: 280px;
    margin-bottom: 50px;
}
.apply{
    background-color: rgb(227, 65, 64);
    color: white;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
    text-align: center;
    max-width: fit-content;
    }
.shop:hover{
  text-decoration: underline;
}
.shop{
    margin-left: 5px;
    cursor: pointer;
}